[global_config]
  window_state = maximise
  tab_position = bottom
[keybindings]
  switch_to_tab_10 = <Alt>0
  new_tab = <Primary>t
  split_horiz = <Alt>minus
  switch_to_tab_6 = <Alt>6
  switch_to_tab_7 = <Alt>7
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_1 = <Alt>1
  split_vert = <Alt>backslash
  switch_to_tab_8 = <Alt>8
  switch_to_tab_9 = <Alt>9
[profiles]
  [[default]]
    scrollbar_position = hidden
    use_system_font = False
    background_darkness = 0.76
    scrollback_lines = 499000
    background_type = transparent
    background_image = None
    show_titlebar = False
    font = Source Code Pro for Powerline 12
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
