[global_config]
  close_button_on_tab = False
  tab_position = bottom
  window_state = maximise
[keybindings]
  go_down = <Alt>j
  go_left = <Alt>h
  go_right = <Alt>l
  go_up = <Alt>k
  layout_launcher = F2
  move_tab_left = None
  move_tab_right = None
  new_tab = <Primary><Shift>t
  split_horiz = <Alt>minus
  split_vert = <Alt>backslash
  switch_to_tab_1 = <Alt>1
  switch_to_tab_10 = <Alt>0
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  switch_to_tab_6 = <Alt>6
  switch_to_tab_7 = <Alt>7
  switch_to_tab_8 = <Alt>8
  switch_to_tab_9 = <Alt>9
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 2f4ad133-c63d-435a-9e8d-ff4501e19cc8
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:25
      size = 1920, 1031
      title = ry@ry-Inspiron-3521: ~
      type = Window
    [[[terminal1]]]
      order = 0
      parent = child0
      profile = default
      type = Terminal
      uuid = 2f4ad133-c63d-435a-9e8d-ff4501e19cc8
  [[vmbridge]]
    [[[child0]]]
      fullscreen = False
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:25
      size = 1920, 1031
      title = ry@ry-Inspiron-3521: ~
      type = Window
    [[[child1]]]
      active_page = 0
      labels = None, None, None, None, None, None, None
      last_active_term = 2f4ad133-c63d-435a-9e8d-ff4501e19cc8, 5f1d555f-8337-440e-bb94-6a23fa37c850, a512e5cf-6e71-4558-bd2a-cfee7d9c9799, 77732fbc-5484-41cb-b0fa-30aadc859897, e63ce662-63fa-47e1-8dbe-ba0997902853, 69bb73c7-bd46-438a-b34c-f1740ff76a87, 9b27c588-f4e4-4b9e-a9bd-a5ce57a9f51b
      order = 0
      parent = child0
      type = Notebook
    [[[terminal2]]]
      command = ssh vmbridge
      order = 0
      parent = child1
      profile = default
      type = Terminal
      uuid = 2f4ad133-c63d-435a-9e8d-ff4501e19cc8
    [[[terminal3]]]
      command = ssh vmbridge
      order = 1
      parent = child1
      profile = default
      type = Terminal
      uuid = 5f1d555f-8337-440e-bb94-6a23fa37c850
    [[[terminal4]]]
      command = ssh vmbridge
      order = 2
      parent = child1
      profile = default
      type = Terminal
      uuid = a512e5cf-6e71-4558-bd2a-cfee7d9c9799
    [[[terminal5]]]
      command = ssh vmbridge
      order = 3
      parent = child1
      profile = default
      type = Terminal
      uuid = 77732fbc-5484-41cb-b0fa-30aadc859897
    [[[terminal6]]]
      command = ssh vmbridge
      order = 4
      parent = child1
      profile = default
      type = Terminal
      uuid = e63ce662-63fa-47e1-8dbe-ba0997902853
    [[[terminal7]]]
      command = ssh vmbridge
      order = 5
      parent = child1
      profile = default
      type = Terminal
      uuid = 69bb73c7-bd46-438a-b34c-f1740ff76a87
    [[[terminal8]]]
      command = ssh vmbridge && zsh
      order = 6
      parent = child1
      profile = default
      type = Terminal
      uuid = 9b27c588-f4e4-4b9e-a9bd-a5ce57a9f51b
[plugins]
[profiles]
  [[default]]
    background_color = "#1d1f21"
    background_darkness = 0.72
    background_image = None
    background_type = transparent
    cursor_color = "#c5c8c6"
    font = Sauce Code Powerline Plus Nerd File Types Mono Plus Pomicons 11
    foreground_color = "#c5c8c6"
    palette = "#1d1f21:#cc6666:#b5bd68:#f0c674:#81a2be:#b294bb:#8abeb7:#c5c8c6:#969896:#cc6666:#b5bd68:#f0c674:#81a2be:#b294bb:#8abeb7:#ffffff"
    scroll_on_output = False
    scrollback_lines = 499000
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
  [[solarized-dark]]
    background_color = "#002b36"
    background_darkness = 0.76
    background_image = /home/ry/Pictures/fresh_green_grass_bokeh-wallpaper-1920x1080.jpg
    cursor_color = "#eee8d5"
    font = Source Code Pro for Powerline 12
    foreground_color = "#eee8d5"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scroll_background = False
    scroll_on_output = False
    scrollback_lines = 499000
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
  [[solarized-light]]
    background_color = "#eee8d5"
    background_image = None
    cursor_color = "#002b36"
    font = Source Code Pro for Powerline 12
    foreground_color = "#002b36"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scrollback_lines = 499000
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
